<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Enter your email" />
      <button type="submit">Login</button>
    </form>
    <br />
    <br />
    <br />
    <br />
    <a href="/">повернення на головну сторінку</a>

    <!-- <form action="/user" method="post">
      <input type="text" name="user" placeholder="enter your name" />
      <button type="submit">ad name</button>
    </form> -->
  </body>
</html>
