<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HELLO</h1>
    <div><%= email %></div>
    <br />
    <div><%= password %></div>
    <br />
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <% array.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.password %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="/">повернення на головну сторінку</a>
    <br />
    <br />
    <form action="/add" method="POST">
      <input type="url" name="image" placeholder="add url of your img" />
      <br />
      <br />
      <button type="submit">send</button>
    </form>
  </body>
</html>
